{% extends "base.html" %}
{% load static %}

{% block style %} 
    
    <link rel="stylesheet" href="{% static 'css/all_stack.css' %}">

    
{% endblock %}

{% block title %} Stack {% endblock %}

{% block content %}
{% include 'navbar.html' %}
    <h1>인기 스택</h1>

    <div class="container">
        <div>

            {% include "recruiting/st4.html" %}
        </div>
    
        <div>
    
            {% include "recruiting/st5.html" %}
        </div>

    </div>
   

{% include 'footer.html' %}
<script src="{% static 'js/nav.js' %}"></script>
{% endblock %}