{% extends "base.html" %}
{% load static %}

{% block style %}

<link rel="stylesheet" href="{% static 'css/recruiting.css' %}">

{% endblock %}

{% block title %} Recruiting {% endblock %}

{% block content %}
{% include 'navbar.html' %}
<!-- Page content-->
<div class="container mt-5">
    <div class="d_row">
        <div class="col-lg-9">
            <!-- Post content-->
            <article>
                <!-- Post header-->
                <div class="mb-4 tit_wrap pb-1">
                    <!-- 직무 -->
                    <div class="text-muted job_name mb-2">{{post.job}}</div>
                    <!-- 회사 이름-->
                    <h5 class="mb-1">{{post.company_name}}</h5>
                    <!-- Post categories-->
                    <!-- <a class="badge bg-secondary text-decoration-none link-light" href="#!">Web Design</a>
                            <a class="badge bg-secondary text-decoration-none link-light" href="#!">Freebies</a> -->
                </div>
                <!-- Preview image figure-->
                <figure class="mb-4">
                    <img class="img-fluid rounded" src="https://img.freepik.com/free-photo/modern-and-equipped-computer-lab_23-2149241198.jpg" alt="기업이미지" />
                </figure>
                <!-- Post content-->
                <section class="mb-5">
                    <h4>회사소개</h4>
                    <p class=" mb-4">{{post.company_intro}}</p>
                    <h4>주요업무</h4>
                    <p class="mb-4">{{post.main_duties}}</p>
                    <h4>자격요건</h4>
                    <p class="mb-4">{{ post.requirments}}</p>
                    <h4 class="mb-4">우대사항</h4>
                    <p class="mb-4">{{ post.desirable_skills}}</p>
                    <h4>복리후생</h4>
                    <p class="mb-4">{{ post.employee_benefits}}</p>
                    <h4>기술스택</h4>
                    <p class="mb-4">{{ post.stack}}</p>
                    <h4>회사 주소</h4>
                    <p class="mb-4">{{ post.address}}</p>

                </section>
            </article>
            <!-- Comments section-->
        </div>
  
    </div>
</div>



{% include 'footer.html' %}
<script src="{% static 'js/nav.js' %}"></script>
{% endblock %}