{% extends "account/base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="a_form">
    <h1>{% trans "Change Password" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form.as_p }}
        <button id="submit" type="submit" name="action">{% trans "Change Password" %}</button>
        <a id="register" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    </form>

</div>
{% endblock %}
