

:root {
    --background-dark: #2d3548;
    --text-light: rgba(255, 255, 255, 0.6);
    --text-lighter: rgba(255, 255, 255, 0.9);
    --spacing-s: 8px;
    --spacing-m: 16px;
    --spacing-l: 24px;
    --spacing-xl: 32px;
    --spacing-xxl: 64px;
    --width-container: 1200px;
    --light-blue: rgb(32, 18, 95);
    --dark-blue: rgb(204, 100, 223);
    --violet: rgb(119, 188, 236);
  
    --background-left: rgb(29, 33, 68);
    --background-right: rgb(30, 25, 47);
  
    --conic-gradient: conic-gradient(
      var(--dark-blue),
      var(--violet),
      var(--light-blue),
      var(--dark-blue)
    );
  }
  
  
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }
  
  @keyframes pulse {
    from,
    20%,
    40%,
    80%,
    to {
      transform: scale(1);
    }
  
    10%,
    60% {
      transform: scale(1.1);
    }
  }
  
  /* body {
    background: linear-gradient(
      to right,
      var(--background-left),
      var(--background-right)
    );
    margin: 0px;
    overflow: hidden;
    padding: 0px;
  }
  
  #background {
    display: grid;
    inset: 0px;
    place-items: center;
    position: fixed;
    
  }
  
  #circle {
    animation: rotate 10s linear infinite;
    background: var(--conic-gradient);
    border-radius: 70vh;
    display: grid;
    filter: blur(1.5vh);
    height: 70vh;
    place-items: center;
    position: relative;
    width: 70vh;
  }
  
  #circle-inner {
    border-radius: inherit;
    inset: 5%;
    position: absolute;
  }
  
  #circle-glow {
    animation: pulse 10s ease-in-out infinite;
    background: var(--conic-gradient);
    border-radius: 100vh;
    filter: blur(3vh);
    height: 120%;
    opacity: 0.25;
    width: 120%;
    z-index: 2;
  }
  
  #circle-inner {
    background: linear-gradient(
      to right,
      var(--background-left),
      var(--background-right)
    );
    z-index: 3;
  }
   */
  
  * {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    height: 100%;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
  }
  
  body {
    height: 100%;
    position: relative;
  }
  
  h1.h_logo{

    width: 50%;
    margin-right: 2em;
  }
  .hero-section {
    align-items: center;
    background-image: linear-gradient(15deg, #0f4667 0%, #2a6973 150%);
    /* background-color: black; */
    display: flex;
    min-height: 100%;
    justify-content: center;
    padding: 10em;
  }
  
  .card-grid {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: var(--spacing-xxl);
    grid-row-gap: var(--spacing-l);
    width: 80%;
  }
  
  @media (min-width: 540px) {
    .card-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (min-width: 960px) {
    .card-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  .m-card {
    list-style: none;
    position: relative;
    height: 50%;
  }
  
  .m-card:before {
    content: "";
    display: block;
    padding-bottom: 150%;
    width: 100%;
  }
  
  .card__background {
   
    /* background-color: whitesmoke; */
    /* box-shadow: black inset 3px 3px 5px; */
    background: #457382;
    box-shadow: 0 15px 25px rgb(104 98 133 / 70%);
    box-shadow: 0 15px 25px rgb(255 255 255 / 70%);
    border-radius: var(--spacing-l);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: center;
    trsnsform: scale(1) translateZ(0);
    transition: filter 200ms linear, transform 200ms linear;
  }
  
  .m-card:hover .card__background {
    transform: scale(1.05) translateZ(0);
  }
  
  .card-grid:hover > .m-card:not(:hover) .card__background {
    filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
  }
  
  .card__content {
    padding: var(--spacing-l);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .card__category {
    color: var(--text-light);
    font-size: 0.9rem;
    margin-bottom: var(--spacing-s);
    text-transform: uppercase;
  }
  
  .card__heading {
    /* color: var(--text-lighter); */
    color: black;
    font-weight: bold;
    font-size: 1.9rem;
    text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
    line-height: 1.4;
    word-spacing: 100vw;
  }


