* {
    margin: 0 auto;
    padding: 0;
}
a{
    text-decoration: none;
}
ol,dl,ul,li{
    list-style: none;
}
img{
    width: 100%;
}
.contents{
    flex: 1;
}
.f_con{
    line-height: 100px;
    text-align: center;
    margin: 0;
}

