{% extends "base.html" %}
{% load static %}

{% block style %} 
    <!-- <link rel="stylesheet" href="{% static 'css/main.css' %}"> -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
{% endblock %}

{% block title %} MAIN {% endblock %}

{% block content %}

<section class="hero-section">
  
        <h1 class="h_logo animate__animated animate__slideInLeft">
            <a  href="/">
                <img src="{% static 'img/logo.png' %}" alt="logo">
            </a>
        </h1>
  <div class="card-grid">
    <a class="m-card animate__animated animate__zoomIn animate__delay-1s" href="/company_info/">
      <div class="card__background"></div>
      <div class="card__content">
        <h3 class="card__heading">COMPANY</h3>
      </div>
    </a>
    <a class="m-card animate__animated animate__zoomIn animate__delay-1s" href="/recruiting/">
      <div class="card__background"></div>
      <div class="card__content">
        <h3 class="card__heading">JOB</h3>
      </div>
    </a>
    <a class="m-card animate__animated animate__zoomIn animate__delay-1s" href="#">
      <div class="card__background"></div>
      <div class="card__content">
        <h3 class="card__heading">STACK</h3>
      </div>
    </a>
  
    </div>
</section>

{% endblock %}