<nav class="nav">
    <div class="container">
        <div class="logo">
            <a href="/"></a>
        </div>
        <div id="mainListDiv" class="main_list">
            <ul class="navlinks">
                <li><a href="/company_info/">COMPANY</a></li>
                <li><a href="/recruiting/">JOB</a></li>
                <li><a href="/recruiting/all_stack/">STACK</a></li>
              
            </ul>
        </div>
        <span class="navTrigger">
            <i></i>
            <i></i>
            <i></i>
        </span>
    </div>
</nav>